LOCAL_USER_ID=1000
LOCAL_GROUP_ID=1000
DOCKER_GID=998
DEVOPS_IMAGE=marioaugustorama/devops-tools
DEVOPS_TAG=vX.Y.Z
APP_VERSION=vX.Y.Z
IP_BIND=0.0.0.0
DEVOPS_PORTS=30000-30005:30000-30005
# Caminhos e volumes devem ser ajustados fora do código, se necessário.
BUILD_CACHE_DIR=~/.cache/devops-tools/buildx-cache
PKG_STATE_DIR=./pkg_state
PKG_BIN_VOLUME=devops-tools-pkg-bin
DEVOPS_CONTAINER_NAME=devops-tools
DEVOPS_REMOTE_VOLUME_PREFIX=devops-tools
VPN_CONFIG_DIR=./vpn-configs
OVPN_CONFIG_DIR=./openvpn-configs
WG_KEYS_DIR=./wireguard-keys
HOSTS_FILE=./home/hosts
